*{
    box-sizing: border-box;
    margin: 0%;
    padding: 0%;
}
body{
    height: 100%;
    width: 100%;
    margin: 0%;
    padding: 0%;
    background-image: url(images/maxresdefault.jpg);
    background-size: cover;
    background-position:center ;
    clear: both;
}
/* background of navbar */
.navbar-light{
    background: transparent !important;
}
/* font size of nav links  */
.navbar-nav{
    font-size: 30px;
}
/* links of all four pages of website */
.nav-link {
    color:grey !important;
    font-family: 'Viaoda Libre', cursive !important;
    font-weight: 900;
}
/* hovering eefct for navbar links */
.nav-link:hover{
    background-color: orange !important;
}
/* logo of navabr "jaydeep mane" */
.navbar-brand{
    font-size: 50px;
    margin-left: 20px;
    font-family: 'Abril Fatface', cursive;
    color: darkorchid !important;
}
/* profile to handle space around photo while floating  */
.Profile{
    width: 50%;
    float: left;
}
/* My own image */
 .Profile img{
    border-radius: 100px;
    border: 5px solid black;
    margin: 60px 0px 50px 300px;
}
/* content which includes contact info */
.content{
    float: left;
    width: 50%;
    margin: 70px 0px 50px 0px;
} 
/* heading of content */
.content h1{
    font-size: 40px;
    font-weight:900 ;
    font-family: fantasy;
    color: black;
    letter-spacing: 10px;
} 

.content p{
    color: rgb(61, 53, 53);
    font-size: 20px;
    font-style: italic;
    font-weight: 500;
    text-align: center;
    width: 50%;
} 
/* unordered list */
.icons ul{
    list-style-type: none;
}
.icons li{
    text-decoration: none;
    display: inline;

}
/* social media links */
.icons li a{
    margin-left: 50px;
    font-size: 40px; 
}
 .icons  li a:hover{
     font-size: 30px;
}
.connect{
    height: auto;
    background-color: black;
    border-radius: 50px;
    width: 70%;
    clear: both;
    /* margin-left: 220px; */
    margin: auto;
}
h2{
    color: white;
    -webkit-text-stroke: 1px green;
    text-align: center;
    font-size: 50px;
}
/* holding form inside it */
.formcontainer{
    border-radius: 10px;
    background-color: black;
    opacity: .5;
    margin: 50px;
    width: 70%;
    margin: auto;
}
/* form */
form{
    margin: 50px;
}
/* lable of name */
.name{
     font-size: 30px;
     color: white;
}
/* text area for name */
#name{
    width: 200px;
    border-radius: 5px;
    border: 1px solid black;
}
/* lable for number */
.number{
    font-size: 30px;
     color:white;   
}
/* number space */
#number{
    width: 200px;
    border-radius: 5px;
    border: 1px solid black;
}
/* email lable  */
.email{
    font-size: 30px;
    color: white;
}
/* text area of number  */
#number{
    width: 200px;
    border-radius: 5px;
    border: 1px solid black;
}
/* lable for comments */
.comments{
    font-size: 30px;
    color: white;
}
/* space of text area for feedbsck */
#comments{
    width: 200px;
    border-radius: 5px;
    border: 1px solid black;
}
/* submit button for form */
.button{
    color:white;
    padding: 4px;
    border-radius: 5px;
    background: rgb(141, 141, 207);
}
 .content .btn{
   margin-left: 150px;
}
/* footer */
footer{
    text-align: center;
    margin: 50px;
    clear: both;
    font-size: 20px;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    letter-spacing: 1px;
}
/* footer icon */
footer i{
    color: red;
}
/* for laptops,ipad's */
@media only screen and (max-width:1024px){
    .Profile{
        width: 100%;
    }
     .Profile img{
        margin: 30px 0px 50px 400px;
    }
    .content{
        width: 100%;
        margin: 30px 0px 50px 270px;
    } 
}
/* tablets */
@media only screen and (max-width:767px){
    .Profile{
        width: 100%;
    }
     .Profile img{
        margin: 30px 0px 50px 300px;
    }
    .content{
        width: 100%;
        margin: 30px 0px 50px 160px;
    } 
    .navbar-nav{
        font-size: 18px;
    }
    .nav-link {
        color:black !important;
        text-align: center;
    }
    .nav-link:hover{
        background-color: rgb(126, 230, 126) !important;
        font-size: 20px;
    }
    .navbar-brand{
        font-size: 40px;
        margin-left: 20px;
        color: blue !important;
    }
}
/* mobile responsive */
@media only screen and (max-width:480px){
    .Profile{
        width: 100%;
    }
     .Profile img{
        margin: 30px 0px 0px 160px;
        height: 200px;
    }
    .content{
        width: 100%;
        margin: 20px 0px 50px 100px;
    } 
    .content h1{
        font-size: 25px;
        letter-spacing: 3px;
    } 
    
    .content p{
        font-size: 16px;
        width: 100px;
    } 

    .icons ul{
        margin: 20px 0px 5px 42px;
    }
    .icons li a{
        margin-left: 10px;
        font-size: 25px; 
    }
     .icons  li a:hover{
         font-size: 28px;
    }
     .content .btn{
        padding: 6px;
        font-size: 10px;
        margin: 5px 0px 20px 80px;
    }
    h2{
        color: white;
        -webkit-text-stroke: 1px green;
        text-align: center;
        font-size: 50px;
    }
    h2{
        font-size: 30px;
    }
    .formcontainer{
        border-radius: 10px;
        /* background-color: grey; */
        background-color: black;
        opacity: .500;
        width: 90%;
        margin-left: 60px;
    }
    form h1{
        font-size: 25px;
    }
    form{
        margin: 10px;
    }
    .name{
         font-size: 20px;
         color:white;
    }
    .number{
        font-size: 20px;
         color:white;   
    }
  
    .email{
        font-size: 20px;
        color: white;
    }
   
    .comments{
        font-size: 20px;
        color: white;
    }
    .navbar-nav{
        font-size: 18px;
        width: 100%;
    }
    .nav-link {
        color:black !important;
        text-align: center;
    }
    .nav-link:hover{
        background-color: grey !important;
        font-size: 20px;
    }
    .navbar-brand{
        font-size: 35px;
        /* margin-left: 20px; */
        color: darkorchid !important;
    }
}
